# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Envisioning Seneca Village
author: Gergely Baics, Meredith B. Linn, Leah Meisterlin, Myles Zhang (2024-2025)
#email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Envisioning Seneca Village combines historical research with digital mapping and visualization to present an interactive 3D digital model of what Seneca Village might have looked like in 1855, about two years before its destruction to build Central Park. Offered with a Creative Commons 4.0 Attribution, Non-Commercial license.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
#twitter_username: 
#github_username:  

header_pages:
  - about.md
  - contents.md

# Markdown processor
markdown: GFM

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
